@model IEnumerable<PrivateLibrary.Models.LibraryUser>

@{
    ViewBag.Title = "Index";
}

<h2>All library users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.User_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.User_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.User_Id })
        </td>
    </tr>
}

</table>
