@model IEnumerable<PrivateLibrary.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Session["Admin"] != null)
{
    if (Session["Admin"].ToString().Equals("1"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre_Name)
        </th>
        @if (Session["Admin"] != null)
        {
            if (!Session["Admin"].ToString().Equals("0"))
            {
                <th></th>
            }
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genre_Name)
        </td>
        @if (Session["Admin"] != null)
        {
            if (Session["Admin"].ToString().Equals("1"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Genre_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Genre_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Genre_Id })
                </td>
            }
            else if (Session["Admin"].ToString().Equals("2"))
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Genre_Id })
                </td>
            }
        }
    </tr>
}

</table>
